.list-item {
  margin-bottom: 10px;
  padding: 10px 0;
}

.list-item:last-child {
  margin: 0;
}

.list-item:nth-child(3n + 1) {
  background-color: #ff4081;
}

.list-item:nth-child(3n + 2) {
  background-color: #ff9800;
}

.list-item:nth-child(3n) {
  background-color: #4caf50;
}
